<div style="text-align:center; height: 90%;">
    <div id="thread title" style="height:5% ;text-align:center">
        <h1>{{thread_title}}</h1>
    </div>
    <div id="content container" style="margin-left: auto; margin-right: auto; height: 75%; max-height: 70vh; width: 80%; overflow: scroll; overflow-x: hidden;">
        <table style=" height: 20vw; width: 100%;">
            <tr>
                <td style="width:5%;" class="darkgray">AUTHOR<br>RANK</td>

                <td colspan="2" id="post rating" style="width: 90%;" class="darkgray"></td>
            </tr>
            <tr>
                <td class="lightgray"><img src="https://cdn3.iconfinder.com/data/icons/avatars-15/64/_Ninja-2-512.png"
                        style="max-height: 200px; max-width: 100px;"></td>
                <td rowspan="5" style="border-left: 1px solid #00FFEE; width: 2%;" class="lightgray"></td>
                <td rowspan="5" style="width: 93%; background-color: rgba(0, 0, 0, 0.5);"> CONTENT </td>
            </tr>
            <tr>
                <td class="darkgray">PROFESSION</td>
            </tr>
            <tr>
                <td class="lightgray">TOP COLLECTIVE POSITION</td>
            </tr>
            <tr>
                <td class="darkgray">ARY BY LINK</td>
            </tr>
            <tr>
                <td class="lightgray">AGGREGATE SCORE</td>
            </tr>
        </table>
        <table style=" height: 20vw; width: 100%;">
            <tr>
                <td style="width:5%;" class="darkgray">AUTHOR<br>RANK</td>

                <td colspan="2" id="post rating" style="width: 90%;" class="darkgray"></td>
            </tr>
            <tr>
                <td class="lightgray"><img src="https://cdn3.iconfinder.com/data/icons/avatars-15/64/_Ninja-2-512.png"
                        style="max-height: 200px; max-width: 100px;"></td>
                <td rowspan="5" style="border-left: 1px solid #00FFEE; width: 2%;" class="lightgray"></td>
                <td rowspan="5" style="width: 93%; background-color: rgba(0, 0, 0, 0.5);"> CONTENT </td>
            </tr>
            <tr>
                <td class="darkgray">PROFESSION</td>
            </tr>
            <tr>
                <td class="lightgray">TOP COLLECTIVE POSITION</td>
            </tr>
            <tr>
                <td class="darkgray">ARY BY LINK</td>
            </tr>
            <tr>
                <td class="lightgray">AGGREGATE SCORE</td>
            </tr>
        </table>
    </div>
    <div id="submission box" style="height: 20%; width: 100%;">
        <textarea style="height:100%; width: 80%; background: black; color: white"></textarea>
    </div>
</div>