<div 
class="page"
style="text-align:center; vertical-align: middle;"
infiniteScroll
[scrollWindow]="true"
[infiniteScrollDistance]="2"
[infiniteScrollUpDistance]="1.5"
[infiniteScrollThrottle]="50"
(scrolled)="onScrollDown()"
(scrolledUp)="onScrollUp()"
>
    <h1>{{title}}</h1>
    <p *ngIf="empty">Oh noes! This gallery is empty!</p>
    <table>
        <tr *ngFor="let item of column1">
            <td class="container">
                <img #preview (load)="onLoad(preview, 1)" class="img" src="{{item}}">
                <div class="title"></div>
                <div class="text">
                    {{item}}
                </div>
            </td>
        </tr>
    </table>
    <table>
        <tr *ngFor="let item of column2">
            <td class="container">
                <img #preview (load)="onLoad(preview, 2)" class="img" src="{{item}}">
                <div class="title"></div>
                <div class="text">
                    {{item}}
                </div>
            </td>
        </tr>
    </table>
    <table  >
        <tr *ngFor="let item of column3">
            <td class="container">
                <img #preview (load)="onLoad(preview, 3)" class="img" src="{{item}}">
                <div class="title"></div>
                <div class="text">
                    {{item}}
                </div>
            </td>
        </tr>
    </table>
    <table  >
        <tr *ngFor="let item of column4">
            <td class="container">
                <img #preview (load)="onLoad(preview, 4)" class="img" src="{{item}}">
                <div class="title"></div>
                <div class="text">
                    {{item}}
                </div>
            </td>
        </tr>
    </table>
    <table  >
        <tr *ngFor="let item of column5">
            <td class="container">
                <img #preview (load)="onLoad(preview, 5)" class="img" src="{{item}}">
                <div class="title"></div>
                <div class="text">
                    {{item}}
                </div>
            </td>
        </tr>
    </table>
</div>