table {
    display: inline-block;
    vertical-align: top;
}

.container { 
    position: relative; 
    max-width: 160px;
    overflow: hidden;
} 

.img {
    border: none;
    filter: brightness(100%);
    transition: 0.3s;
}


.title {
    position: absolute;
    height: 40px;
    top: 0px;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: 0.3s;
    order: 1;
}
  
.text {
    position: absolute;
    color: white;
    height: 100%;
    top: 50%;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.3s;
    order: 0;
}

.container:hover .title { 
    opacity: 0.5;
    background-color: black;
}

.container:hover .text{ 
    opacity: 1;
}