<div style="text-align:center">
    <h1>{{gallery.title}}</h1>
    <table>
        <tr>
            <td style ="height: 270px">
                
            </td>
        </tr>
        <tr>
            <td style ="height: 220px">
                
            </td>
        </tr>
        <tr>
            <td style ="height: 260px">
                
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td style ="height: 300px">

            </td>
        </tr>
        <tr>
            <td style ="height: 400px">

            </td>
        </tr>
        <tr>
            <td style ="height: 220px">
                
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td style ="height: 220px">
                
            </td>
        </tr>
        <tr>
            <td style ="height: 300px">
                
            </td>
        </tr>
        <tr>
            <td style ="height: 400px">
                
            </td>
        </tr>
    </table>
</div>