nav a {
    color: white;
    font-family: acid;
    font-size: 20px;
    letter-spacing: 2px;
    margin: 0 10px;
    text-decoration: none;
  }

  .input {
    transition: 1s;
    width: 0%;
    overflow: hidden;
  }

  .search:hover .input{
    width: 50%;
  }