<!--The content below is only a placeholder and can be replaced.-->
<div style="height:75px; position: relative;"> 
  <div style="height:100%; position: absolute;">
    <img src="assets/logo.png" style="height:100%">
  </div>
  <div style="height: 35px; width: calc(90% - 110px);  position: absolute; left: 110px; top:18px; border-bottom: 1px solid #00ffee;">
    <table style="width: 100%;">
      <tr>
        <td>
          <nav style="margin-left: 10px; display: inline-block;">
            <a routerLink="/">HOME</a>
            <a routerLink="/artworks/100">MARKET</a> 
            <a routerLink="/galleries/100">GALLERY</a>
            <a routerLink="/shops/1">COLLECTIVES</a>
            <a routerLink="/shops/1">EVENTS</a>
            <a routerLink="/forums/0">FORUMS</a> 
          </nav>
        </td>
        <td style="text-align: right;">
          <div *ngIf="!searching; else elseBlock">
            <button (click)="displaySearch()" style="background: rgba(255,255,255,0.8);">Search</button>
          </div>
          <ng-template #elseBlock>
            <div class="search">
                <input type="text" class="input" style="display: inline-block; border: 1px solid transparent; background: rgba(255,255,255,0.8); border: none;" [ngClass]="{'expand': searching}">
              <button style="display: inline-block; background: rgba(255,255,255,0.8);"><img src="assets/search-icon.jpg" style="max-height: 12px;"></button>
            </div>
          </ng-template>
        </td>
      </tr>
    </table>
  </div>
  <div style="height: 40px; width: 1px; position: absolute; left: 90%; top:13px; border-left: 1px solid #00ffee;">
    <!--DO NOT FILL-->
  </div>
  <div style="height: 52px; width: 10%; position: absolute; left: 90%; border: 1px solid #00ffee;">
    <img src="assets/ho.png" style="position: absolute; height: 90%; left: 1%; top: 5%">
  </div>
</div>
<router-outlet></router-outlet>