<!--The content below is only a placeholder and can be replaced.-->
<div style="height:75px; position: relative;"> 
  <div style="height:100%; position: absolute;">
    <img src="assets/logo.png" style="height:100%">
  </div>
  <div style="height: 35px; width: calc(90% - 110px);  position: absolute; left: 110px; top:18px; border-bottom: 1px solid #00ffee;">
    <nav style="margin-left: 10px;">
      <a routerLink="/">HOME</a>
      <a routerLink="/forums/0">FORUMS</a> 
      <a routerLink="/artworks/1">ARTWORKS</a> 
      <a routerLink="/galleries/1">GALLERIES</a>
      <a routerLink="/shops/1">SHOPS</a>
    </nav>
  </div>
  <div style="height: 40px; width: 1px; position: absolute; left: 90%; top:13px; border-left: 1px solid #00ffee;">
    <!--DO NOT FILL-->
  </div>
  <div style="height: 52px; width: 10%; position: absolute; left: 90%; border: 1px solid #00ffee;">
    <img src="assets/OIP.png" style="position: absolute; height: 90%; left: 1%; top: 5%">
  </div>
</div>
<router-outlet></router-outlet>

