nav a {
    color: white;
    font-size: 1vw;
    letter-spacing: 0.2vw;
    margin: 0 1vw;
    text-decoration: none;
  }

  .input {
    transition: 1s;
    width: 0%;
    overflow: hidden;
  }

  .search:hover .input{
    width: 50%;
  }

  .bottom_link {
    padding-left: 5.5%;
    font-family: "Franklin Gothic";
  }