/* You can add global styles to this file, and also import other style files */
@import "./fonts.css";

  html, body {
    height: 100%;
    margin: 0;
    background-image:url('src/assets/sci-fi-background.jpg');
    background-size: 100%;
    background-position: center;
  }

  p, h1, h2, h3, h4, h5 {
    color: white;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
