/* SCROLLBAR */
/* Let's get this party started */
.style-1::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.style-1::-webkit-scrollbar-track {
    background: #B89859;
    border: 2px solid transparent;
    background-clip: content-box;   /* THIS IS IMPORTANT */
}

/* Handle */
.style-1::-webkit-scrollbar-thumb {
    background: #C38F2D;
}

.rowStyle{
    position: relative;
    overflow: hidden;
    width: 20%;
}

.absolute_center{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

.page_text{
    color: #C3BB97;
}

.header1{
    font-size: 1vw;
}

.graphic_button {
    outline:none;
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.row_div{
    width: calc(100%); 
    height: calc(100% - 2px); 
    top: 0px; 
    overflow: hidden; 
    position: absolute;
}

.row_container{
    width: calc(100 - 2px);
    height: 7.75vw;
    position: relative
}

.rotate_img_90 {
    -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }

.rotate_img_180 {
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  
.rotate_img_270 {
    -webkit-transform:rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }