<table class="mainpage" style=" height: 100%; width: 100%;"> <!-- background-color: turquoise;border-style: solid; border-color: black; -->
  <tr style="height: 50%" class="showcase">
    <td>

    </td>
    <td width="50%">
      <div style="display: flex; justify-content: center;">
        <img src="assets/2.jpg" style="max-height: 300px; margin: auto" class="showcase-img">
      </div>
    </td>
  </tr>
  <tr style="height: 50%">
    <td class="home-feed">

    </td>
    <td class="front-gallery" style="position: relative;">
      <ng-marquee style="position: absolute; left:10%; bottom: 40%; width: 40%;">  
          <img src="assets/3.jpg" style="max-height: 200px; margin: auto" class="showcase-img">
          <img src="assets/4.jpg" style="max-height: 200px; margin: auto" class="showcase-img">
          <img src="assets/1.jpg" style="max-height: 200px; margin: auto" class="showcase-img">
      </ng-marquee>
    </td>
  </tr>
</table>

