/* SCROLLBAR */
/* Let's get this party started */
#style-1::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#style-1::-webkit-scrollbar-track {
    background: goldenrod;
    border: 4px solid transparent;
    background-clip: content-box;   /* THIS IS IMPORTANT */
}

/* Handle */
#style-1::-webkit-scrollbar-thumb {
    background: goldenrod;
}

.colfill{
    width: 80wh; 
}

.half_content{
    width: 40wh
}

.row_cell{
    display: inline-block;
    height: 20vh;
    width: 20%;
    position: relative;
}

.absolute_center{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

.page_text{
    color: #C3BB97;
}

.header1{
    height: 13px;
    font-size: 13px;
}

.graphic_button {
    outline:none;
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.rotate_img_90 {
    -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }

.rotate_img_180 {
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  
.rotate_img_270 {
    -webkit-transform:rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }