.mat-list-item.display-item {
    text-align: center;
    color: white;
    width: 100px;
}

table {
  border-collapse: collapse;
}
table td {
  border: 5px solid black; 
}

.home-feed{
    width: 50%;
}
.front-display{
    width: 50%;
}
