<table style="width: 40vw; margin-left: auto; margin-right: auto; border-collapse: collapse;">
  <tr style="height: 2vh; width: 100%" >
    <td colspan="2" style="height: 1.6vh; width: 100%; padding-top: 1vh; padding-bottom: 1vh" >
      <table style="margin-right: auto; padding-top: 1vh; padding-bottom: 1vh; width:100%">
        <tr style="width: 100%;">
          <td class="header1 page_text" style="width:8vw; text-align: right ; padding-right: 2vw">
            RECENT UPDATES
          </td>
          <td class="header1" style="width: 24vw">
            <img src="assets/small_border.png" style="width: 100%; height: auto;">
          </td>
          <td class="header1 page_text" style="width:8vw; text-align: left; padding-left: 2vw">
            GALLERY GEMS 
          </td>
        </tr>
      </table>      
    </td>
  </tr>
  <tr style="width: 100%;">
    <td class="page_text" style=" height: 100%; width: 50%; font-size: 0.5vw; padding-right: 1vw;
                                  border-right: 1px solid goldenrod;">
      <div style="height: 15.5vw; width: 100%; padding-left: 1vw; padding-right: 1vw;
                  background-image: linear-gradient(rgba(60,60,60, 0.8), rgba(20,20,20, 0.8));
                  overflow-x: hidden; overflow-y:scroll; direction: rtl;" class="style-1">
        <table style="width: 100%; height: 100%;">
          <tr *ngFor="let announcement of site_announcements" style="height: 10vh; width: 100%;" >
            <td style="height:10vh;">
              <div style="height:2vh; text-align: left">
                <h5>{{announcement.title}}</h5>
              </div>
              <div style="height:5vh; text-align: left; line-height: 15px ;overflow: hidden;">
                <p class="paragraph">{{announcement.body}}</p>
              </div>
              <div style="height:2vh; text-align: left;  border-bottom: 1px solid #B89859;">
                
              </div>
              <div style="height:1vh; text-align: left;">
                
              </div>
            </td>
          </tr>
        </table>
      </div>
    </td>
    <td style="width: 50%; height: 100%; color: white; font-size: 0.5vw; align-content: left; padding-left: 1vw; border-left: 1px solid goldenrod;">
      <table style="width: 100%; height: 15.5vw;">
        <tr style="width: 100%; height: 50%;">
          <td class="gold_border_gradient" colspan="5" style="width: 100%; position:relative" >
            <div style="width: 100%; height: calc(7.75vw - 2px); bottom: 0; left:0 ; overflow: hidden; position: absolute;">
              <img (load)="loadBanner($event)" class="absolute_center" src="assets/136.jpg">
            </div>
          </td>
        </tr>
        <tr style="width: 100%; height: 50%;">
          <td class="rowStyle">
            <div class="row_container gold_border_gradient"> 
              <div class="row_div"> 
                <img (load)="onLoad($event)" class="absolute_center" src="assets/100.gif">
              </div>
            </div>
          </td>
          <td class="rowStyle">
            <div class="row_container gold_border_gradient"> 
              <div class="row_div"> 
                <img (load)="onLoad($event)" class="absolute_center" src="assets/124.jpg">
              </div>
            </div>
          </td>
          <td class="rowStyle">
            <div class="row_container gold_border_gradient">
              <div class="row_div"> 
                <img (load)="onLoad($event)" class="absolute_center" src="assets/108.gif">
              </div>                
            </div>
          </td>
          <td class="rowStyle">
            <div class="row_container gold_border_gradient">
              <div class="row_div"> 
                <img (load)="onLoad($event)" class="absolute_center" src="assets/133.jpg">
              </div>
            </div>                                
          </td>
          <td class="rowStyle">
            <div class="row_container gold_border_gradient">
              <div class="row_div"> 
                <img (load)="onLoad($event)" class="absolute_center" src="assets/140.jpg">  
              </div>
            </div>                 
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr style="width: 100%;">
    <td colspan="2" class="content_title">
      <div style="padding-top: 3vh;">
        <table style="margin-left: auto; margin-right: auto; height: 5vh;">
          <tr>
            <td>
              <img class="page_text" src="assets/events_l.png" style="max-height: 2vh; width: auto; margin-right: 1vw">
            </td>
            <td>
              <p style="font-size: 1vw; vertical-align: middle; display:table-cell" >EVENTS</p>
            </td>
            <td>
              <img class="page_text" src="assets/events_r.png"  style="max-height: 2vh; width: auto; margin-left: 1vw" >
            </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
  <tr style="width: 100%;">
    <td colspan="2" style="height: 100%; vertical-align: middle;">
      <div [@ExpandAndContractAnimation15by40]="isOpen ? '1' : '0'" style="width: 100%; height: 15vh; position:relative;">
        <div style="height: calc(100% - 6vh); width: calc(100% - 0.5vw) ; position:absolute; overflow: hidden; top: 2vh;">
          <img src="assets/backdrop_room.png"  style="width: 100%;">
        </div>
        <button class="graphic_button" (click)="toggle()" [ngStyle]="{'bottom': !isOpen ? '0vh' : '3.5vh' }" 
                style="position: absolute; padding: 0; left: 0px; right: 0px; margin-left: auto; margin-right: auto; ">
          <div *ngIf="!isOpen; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock>
            <img src="assets/expand_banner.png" style="max-width: 5vw; height: auto">
          </ng-template>
          <ng-template #elseBlock>
            <img src="assets/expand_banner.png" style="max-width: 5vw; height: auto;" class="rotate_img_180">
          </ng-template>
        </button> 
      </div>
    </td>
  <tr>
    <td colspan="2">
      <div style="padding-top: 15px; margin-bottom: 15px;">
        <img src="assets/small_border.png" style="max-width: 50vw; margin-right: auto; margin-left: auto;">
      </div>
    </td>
  </tr>
  
  <tr>
    <td colspan="2" class="page_text" style="height: 100%; font-size: 0.5vw;">
      <table style="height:100%">
        <tr>
          <td style="width: calc(100%-.4vw)">
            <div [@WidenAndShrinkAnimation30by30]="panelOn ? '0' : '1'"
                  style="width: calc(100% - 2vw); height: 100%; margin-top: auto; margin-bottom: auto; padding-left: 1vw; padding-right: 1vw;
                        background-image: linear-gradient(rgba(60,60,60, 0.8), rgba(20,20,20, 0.8));
                        overflow-x: hidden; overflow-y:scroll; direction: rtl;" (scroll)="onStatusScroll($event)" class="style-1" #statusBox>
              <table style="width: 100%;">
                <tr *ngFor="let announcement of site_announcements;let i=index;" style="height: 5vh; width: 100%;">
                  <td style="width: 10%;">
                    <button class="graphic_button" (click)="showStatus(i)">
                      <div *ngIf="!focus[i]; then thenBlock else elseBlock"></div>
                      <ng-template #thenBlock>
                        <img src="assets/nav_arrow.png" style="max-height: 4vh;" class="rotate_img_180">
                      </ng-template>
                      <ng-template #elseBlock>
                        <img src="assets/nav_arrow.png" style="max-height: 4vh;" class="rotate_img_270">
                      </ng-template>
                    </button>                 
                  </td>
                  <td style="height:1vh; width: 90%;">
                    <div style="height:0.3vh; text-align: left">
                      <h3>{{announcement.title}}</h3>
                    </div>
                    <div style="height:0.4vh; text-align: left; line-height: .1vh ;overflow: hidden; border-bottom: 1px solid goldenrod;">
                      <p class="paragraph">{{announcement.body}}</p>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </td>
          <td style="height: 20vh;">
            <div [@WidenAndShrinkAnimation0by3]="panelOn ? '1' : '0'"
            style="height: 100%; width: 0;">
              <svg style="height: 20vh; width: 100%" viewBox="0 0 100 100" preserveAspectRatio="none">
                <polygon [attr.points]="points" style="fill:rgba(60,60,60, 0.8);" />
              </svg>
            </div>
          </td>
          <td>
            <div [@WidenAndShrinkAnimation0by27]="panelOn ? '1' : '0'"
                style="width:0; height: 100%;
                        overflow-x: hidden; overflow-y: hidden;">
                  <div style="width: 100%; height: 100%; border: 2px solid rgba(60,60,60, 0.8); background-color: solid rgba(10,10,10, 0.8);">

                  </div>
            </div>
          </td>
        </tr>
      </table>
        
    </td>
  </tr>

  <tr style="height: 1.5vh">
    <td colspan="2">

    </td>
  </tr>
</table>
